In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import numpy as np

In [4]:
import sys
import os

# Add the parent directory to the Python path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))

# Now you can import from src
from src.data_utils import load_and_process_taxi_data

In [5]:
rides = load_and_process_taxi_data(year=2024)

Downloading data for 2024-01...
Downloaded https://s3.amazonaws.com/tripdata/202401-citibike-tripdata.csv.zip
Extracted to ../data/raw
Reading 202401-citibike-tripdata.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Converted to parquet: ../data/raw/rides_2024_01.parquet
Cleaned up ZIP and CSV files
Successfully downloaded data for 2024-01.
Loading data for 2024-01...
Total records: 1,881,640
Valid records: 57,196
Records dropped: 1,824,444 (96.96%)
Successfully processed data for 2024-01.
Downloading data for 2024-02...
Downloaded https://s3.amazonaws.com/tripdata/202402-citibike-tripdata.csv.zip
Extracted to ../data/raw
Reading 202402-citibike-tripdata.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Converted to parquet: ../data/raw/rides_2024_02.parquet
Cleaned up ZIP and CSV files
Successfully downloaded data for 2024-02.
Loading data for 2024-02...
Total records: 2,115,518
Valid records: 68,438
Records dropped: 2,047,080 (96.76%)
Successfully processed data for 2024-02.
Downloading data for 2024-03...
Downloaded https://s3.amazonaws.com/tripdata/202403-citibike-tripdata.csv.zip
Extracted to ../data/raw
Reading 202403-citibike-tripdata.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Converted to parquet: ../data/raw/rides_2024_03.parquet
Cleaned up ZIP and CSV files
Successfully downloaded data for 2024-03.
Loading data for 2024-03...
Total records: 2,655,667
Valid records: 80,317
Records dropped: 2,575,350 (96.98%)
Successfully processed data for 2024-03.
Downloading data for 2024-04...
Downloaded https://s3.amazonaws.com/tripdata/202404-citibike-tripdata.csv.zip
Extracted to ../data/raw
Reading 202404-citibike-tripdata.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Converted to parquet: ../data/raw/rides_2024_04.parquet
Cleaned up ZIP and CSV files
Successfully downloaded data for 2024-04.
Loading data for 2024-04...
Total records: 3,208,493
Valid records: 98,794
Records dropped: 3,109,699 (96.92%)
Successfully processed data for 2024-04.
Downloading data for 2024-05...
https://s3.amazonaws.com/tripdata/202405-citibike-tripdata.csv.zip returned 404
Downloaded https://s3.amazonaws.com/tripdata/202405-citibike-tripdata.zip
Extracted to ../data/raw
Reading 202405-citibike-tripdata_3.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Reading 202405-citibike-tripdata_2.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Reading 202405-citibike-tripdata_1.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Reading 202405-citibike-tripdata_5.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Reading 202405-citibike-tripdata_4.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Converted to parquet: ../data/raw/rides_2024_05.parquet
Cleaned up ZIP and CSV files
Successfully downloaded data for 2024-05.
Loading data for 2024-05...
Total records: 4,219,327
Valid records: 124,424
Records dropped: 4,094,903 (97.05%)
Successfully processed data for 2024-05.
Downloading data for 2024-06...
https://s3.amazonaws.com/tripdata/202406-citibike-tripdata.csv.zip returned 404
Downloaded https://s3.amazonaws.com/tripdata/202406-citibike-tripdata.zip
Extracted to ../data/raw
Reading 202406-citibike-tripdata_5.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Reading 202406-citibike-tripdata_4.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Reading 202406-citibike-tripdata_1.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Reading 202406-citibike-tripdata_3.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Reading 202406-citibike-tripdata_2.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Converted to parquet: ../data/raw/rides_2024_06.parquet
Cleaned up ZIP and CSV files
Successfully downloaded data for 2024-06.
Loading data for 2024-06...
Total records: 4,767,659
Valid records: 139,068
Records dropped: 4,628,591 (97.08%)
Successfully processed data for 2024-06.
Downloading data for 2024-07...
https://s3.amazonaws.com/tripdata/202407-citibike-tripdata.csv.zip returned 404
Downloaded https://s3.amazonaws.com/tripdata/202407-citibike-tripdata.zip
Extracted to ../data/raw
Reading 202407-citibike-tripdata_2.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Reading 202407-citibike-tripdata_3.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Reading 202407-citibike-tripdata_1.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Reading 202407-citibike-tripdata_4.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Reading 202407-citibike-tripdata_5.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Converted to parquet: ../data/raw/rides_2024_07.parquet
Cleaned up ZIP and CSV files
Successfully downloaded data for 2024-07.
Loading data for 2024-07...
Total records: 4,706,150
Valid records: 139,111
Records dropped: 4,567,039 (97.04%)
Successfully processed data for 2024-07.
Downloading data for 2024-08...
https://s3.amazonaws.com/tripdata/202408-citibike-tripdata.csv.zip returned 404
Downloaded https://s3.amazonaws.com/tripdata/202408-citibike-tripdata.zip
Extracted to ../data/raw
Reading 202408-citibike-tripdata_3.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Reading 202408-citibike-tripdata_2.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Reading 202408-citibike-tripdata_1.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Reading 202408-citibike-tripdata_5.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Reading 202408-citibike-tripdata_4.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Converted to parquet: ../data/raw/rides_2024_08.parquet
Cleaned up ZIP and CSV files
Successfully downloaded data for 2024-08.
Loading data for 2024-08...
Total records: 4,586,537
Valid records: 136,344
Records dropped: 4,450,193 (97.03%)
Successfully processed data for 2024-08.
Downloading data for 2024-09...
https://s3.amazonaws.com/tripdata/202409-citibike-tripdata.csv.zip returned 404
Downloaded https://s3.amazonaws.com/tripdata/202409-citibike-tripdata.zip
Extracted to ../data/raw
Reading 202409-citibike-tripdata_4.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Reading 202409-citibike-tripdata_5.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Reading 202409-citibike-tripdata_1.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Reading 202409-citibike-tripdata_2.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Reading 202409-citibike-tripdata_3.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Converted to parquet: ../data/raw/rides_2024_09.parquet
Cleaned up ZIP and CSV files
Successfully downloaded data for 2024-09.
Loading data for 2024-09...
Total records: 4,979,857
Valid records: 150,776
Records dropped: 4,829,081 (96.97%)
Successfully processed data for 2024-09.
Downloading data for 2024-10...
https://s3.amazonaws.com/tripdata/202410-citibike-tripdata.csv.zip returned 404
Downloaded https://s3.amazonaws.com/tripdata/202410-citibike-tripdata.zip
Extracted to ../data/raw
Reading 202410-citibike-tripdata/202410-citibike-tripdata_6.csv
Reading 202410-citibike-tripdata/202410-citibike-tripdata_4.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))
/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Reading 202410-citibike-tripdata/202410-citibike-tripdata_5.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Reading 202410-citibike-tripdata/202410-citibike-tripdata_1.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Reading 202410-citibike-tripdata/202410-citibike-tripdata_2.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Reading 202410-citibike-tripdata/202410-citibike-tripdata_3.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Converted to parquet: ../data/raw/rides_2024_10.parquet
Cleaned up ZIP and CSV files
Successfully downloaded data for 2024-10.
Loading data for 2024-10...
Total records: 5,131,292
Valid records: 160,539
Records dropped: 4,970,753 (96.87%)
Successfully processed data for 2024-10.
Downloading data for 2024-11...
https://s3.amazonaws.com/tripdata/202411-citibike-tripdata.csv.zip returned 404
Downloaded https://s3.amazonaws.com/tripdata/202411-citibike-tripdata.zip
Extracted to ../data/raw
Reading 202411-citibike-tripdata_3.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Reading 202411-citibike-tripdata_2.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Reading 202411-citibike-tripdata_1.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Reading 202411-citibike-tripdata_4.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Converted to parquet: ../data/raw/rides_2024_11.parquet
Cleaned up ZIP and CSV files
Successfully downloaded data for 2024-11.
Loading data for 2024-11...
Total records: 3,696,124
Valid records: 119,260
Records dropped: 3,576,864 (96.77%)
Successfully processed data for 2024-11.
Downloading data for 2024-12...
https://s3.amazonaws.com/tripdata/202412-citibike-tripdata.csv.zip returned 404
Downloaded https://s3.amazonaws.com/tripdata/202412-citibike-tripdata.zip
Extracted to ../data/raw
Reading 202412-citibike-tripdata_1.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Reading 202412-citibike-tripdata_3.csv
Reading 202412-citibike-tripdata_2.csv

/Users/narendravarma/Documents/citi_bike_system/src/data_utils.py:83: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(csv))

Converted to parquet: ../data/raw/rides_2024_12.parquet
Cleaned up ZIP and CSV files
Successfully downloaded data for 2024-12.
Loading data for 2024-12...
Total records: 2,302,229
Valid records: 74,450
Records dropped: 2,227,779 (96.77%)
Successfully processed data for 2024-12.
Combining all monthly data...
Data loading and processing complete!

In [15]:
rides

                     started_at  pickup_location_id         pickup_hour
0       2024-01-22 12:18:53.512                5779 2024-01-22 12:00:00
1       2024-01-13 18:52:26.496                5779 2024-01-13 16:00:00
2       2024-01-31 16:59:37.612                5779 2024-01-31 16:00:00
3       2024-01-04 07:17:28.970                5779 2024-01-04 04:00:00
4       2024-01-12 09:06:28.532                5779 2024-01-12 08:00:00
...                         ...                 ...                 ...
1348712 2024-12-15 15:05:05.351                5905 2024-12-15 12:00:00
1348713 2024-12-30 09:08:31.156                5905 2024-12-30 08:00:00
1348714 2024-12-30 16:25:25.701                5788 2024-12-30 16:00:00
1348715 2024-12-30 16:47:39.666                5788 2024-12-30 16:00:00
1348716 2024-12-20 17:32:14.795                5788 2024-12-20 16:00:00

[1348717 rows x 3 columns]

In [16]:
from src.data_utils import transform_raw_data_into_ts_data

ts_data = transform_raw_data_into_ts_data(rides)
ts_data.head()
ts_data.shape

          pickup_hour  pickup_location_id  rides
0 2023-12-31 20:00:00                5626      4
1 2024-01-01 00:00:00                5626     42
2 2024-01-01 04:00:00                5626      9
3 2024-01-01 08:00:00                5626     40
4 2024-01-01 12:00:00                5626     76

(10985, 3)

In [17]:
from src.data_utils import transform_ts_data_info_features_and_target_loop

features, targets = transform_ts_data_info_features_and_target_loop(ts_data, window_size=6*28, step_size=1)

In [18]:
features.head()

,rides_t-168,rides_t-167,rides_t-166,rides_t-165,rides_t-164,rides_t-163,rides_t-162,rides_t-161,rides_t-160,rides_t-159,...,rides_t-8,rides_t-7,rides_t-6,rides_t-5,rides_t-4,rides_t-3,rides_t-2,rides_t-1,pickup_hour,pickup_location_id
0,4,42,9,40,76,65,30,4,40,73,...,150,106,60,25,3,28,37,49,2024-01-28 20:00:00,5626
1,42,9,40,76,65,30,4,40,73,68,...,106,60,25,3,28,37,49,40,2024-01-29 00:00:00,5626
2,9,40,76,65,30,4,40,73,68,87,...,60,25,3,28,37,49,40,10,2024-01-29 04:00:00,5626
3,40,76,65,30,4,40,73,68,87,43,...,25,3,28,37,49,40,10,25,2024-01-29 08:00:00,5626
4,76,65,30,4,40,73,68,87,43,9,...,3,28,37,49,40,10,25,89,2024-01-29 12:00:00,5626

In [19]:
tabular_data = features
tabular_data["target"] = targets

from src.config import TRANSFORMED_DATA_DIR
tabular_data.to_parquet(TRANSFORMED_DATA_DIR / "tabular_data.parquet", engine="pyarrow")